:root {
  --radius: 0.75rem;

  /* Base */
  --background: 1 0 0;
  --foreground: 0.179 0.004 285.981;

  --card: 1 0 0;
  --card-foreground: var(--foreground);

  --popover: 1 0 0;
  --popover-foreground: var(--foreground);

  /* Amarillo principal */
  --primary: 0.848 0.161 87.110;
  --primary-foreground: 0.179 0.004 285.981;

  /* Amarillo suave */
  --secondary: 0.962 0.051 91.371;
  --secondary-foreground: 0.268 0.041 260.297;

  /* Neutrales */
  --muted: 0.907 0.002 67.801;
  --muted-foreground: 0.518 0.002 286.346;

  /* Azul marino */
  --accent: 0.268 0.041 260.297;
  --accent-foreground: 0.976 0.000 89.876;

  /* Rojo */
  --destructive: 0.522 0.175 28.521;
  --destructive-foreground: 0.98 0 0;

  --border: 0.798 0.005 260;
  --input: 0.798 0.005 260;

  --ring: var(--primary);

  /* Charts */
  --chart-1: var(--primary);
  --chart-2: var(--accent);
  --chart-3: var(--destructive);
  --chart-4: 0.661 0.018 245.203;
  --chart-5: 0.638 0.062 58;

  /* Sidebar */
  --sidebar: 0.976 0.000 89.876;
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: 0.907 0.002 67.801;
  --sidebar-accent-foreground: var(--accent);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: 0.190 0.018 259.698;
  --foreground: 0.976 0.000 89.876;

  --card: 0.244 0.039 262.590;
  --card-foreground: var(--foreground);

  --popover: 0.244 0.039 262.590;
  --popover-foreground: var(--foreground);

  --primary: 0.896 0.138 90.821;
  --primary-foreground: 0.179 0.004 285.981;

  --secondary: 0.307 0.040 258.813;
  --secondary-foreground: var(--foreground);

  --muted: 0.307 0.040 258.813;
  --muted-foreground: 0.761 0.010 260;

  --accent: 0.307 0.040 258.813;
  --accent-foreground: var(--foreground);

  --destructive: 0.622 0.170 28.521;
  --destructive-foreground: 0.98 0 0;

  --border: 1 0 0 / 12%;
  --input: 1 0 0 / 15%;

  --ring: var(--primary);

  --sidebar: 0.244 0.039 262.590;
  --sidebar-foreground: var(--foreground);
  --sidebar-border: 1 0 0 / 12%;
}